@media (max-width: 991px){
  .my-icons {
    order: 2;
  }
  .navbar-toggler {
    order: 3;
    margin-left: 15px;
  }
  .navbar-collapse {
    order: 4;
  }
}

.navbar {
  font-size: 18px;
  font-family: "Roboto", "sans-serif";
}

.my-icons {
  font-size: 24px;
  font-family: "FontAwesome";
  flex-direction: row;
}
.my-icons .nav-item {
  margin-right: 10px;
  align-self: center;
}

.top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: rgb(241, 225, 225);
  height: 1px;
  transition: all 0.4s;
  transform: scale(0);
}

.top-menu li a:hover::after {
  transform: scale(1);
}

.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}

.navbar-nav a.active::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
  transform: scale(1);
}
